{% extends 'layout.html'%}
{% block title %}
{{title}} by {{author}}
{% endblock %}
{% block body %}
<h1>{{title}}</h1>
<h2>by {{author}}</h2>
<p> {{year}}</p>
<p>ISBN: {{isbn}}</p>
<p>Goodreads review count: {{goodreads_reviews}}.</p>
<p>Goodreads average score: {{goodreads_score}}.</p>
{%if review_count > 0%}
<p> The book has reviews!</p>
<details>
  <br>
  <p> The number of reviews on the site: {{review_count}}.<br>
  And the average score is: {{book_score}}.</p>
  <ul>
  {% for review in reviews%}
  <li><p>Review: {{review.review}}<br>Score: {{review.rating}}</p></li>
  {%endfor%}
  </ul>
</details>
<br>
{%else%}
</p>This book has no reviews yet. You can be the first to write one</p>
{%endif%}
{%if username%}
<p>You can leave your review for the book</p>
<form action="" method="POST" id='reviewform'>
  <textarea required name='review' placeholder="Type your review" cols=30
  rows=5 form='reviewform'>
  </textarea>
  <br>
  <label>Please, rate the book</label>
  <input type=number min=1 max=5 name='score' required>
  <input type=submit value="Submit your review">
</form>
{%else%}
<p>You need <a href='/login'>log in</a> to submit book reviews</p>
{%endif%}
{% endblock %}
